@import url('https://fonts.googleapis.com/css2?family=Della+Respira&family=Montserrat:ital@1&family=Nunito&family=Poppins&family=Ubuntu&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;500;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --blue: #36498F;
  --blue-green: #2D7C9D;
}

/* ===========================================

    HERO SECTION

   ===========================================*/

#header {
  width: 100%;
  height: 100vh;
  background-image: url("../img/360-640.png");
  background-color: var(--blue);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: flex-start;
}

#mf-logo {
  max-width: 50px;
  position: absolute;
  top: 15px;
  left: 15px;
}

#log-in-btn {
  color: white;
  font-family: 'Nunito', sans-serif;
  font-size: 16px;
  text-decoration: underline overline;
  position: absolute;
  right: 15px;
  top: 15px;
  cursor: pointer;
  transition: color 0.2s linear;
}

#log-in-btn:hover {
  color: var(--blue);
}

#title-div {
  width: 80%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: flex-start;
  margin: 15vh 0 0 20px;
}

#title-div h1 {
  color: white;
  font-family: 'Montserrat', sans-serif;
  font-size: 65px;
  font-weight: 900;
  margin-bottom: 15px;
}

#title-div p {
  color: white;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 15px;
}

#mark {
  background-color: var(--blue-green);
  color: white;
}

#call-to-action {
  background-color: var(--blue);
  color: white;
  align-self: center;
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  font-weight: 500;
  border: none;
  border-radius: 5px;
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  padding: 10px;
  cursor: pointer;
  transition: opacity 0.2s linear;
}

#call-to-action:hover {
  opacity: 0.8;
}

/* ===========================================

    BENIFITS

   ===========================================*/

#benifit-div {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

.benifits {
  width: 300px;
  font-family: "Montserrat", sans-serif;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  margin: 50px 30px;
  transform: translateY(100px);
  opacity: 0;
  transition: all 0.5s ease-out;
}

.benifits-s {
  transform: translatey(0);
  opacity: 1;
}

.benifits i {
  color: var(--blue);
  font-size: 70px;
}

.benifits h3 {
  font-weight: 500;
  font-size: 20px;
  margin-top: 10px;
}

.benifits p {
  text-align: center;
  margin-top: 10px;
}

/* ===========================================

    FAQ

   ===========================================*/

#faq {
  max-width: 90%;
  margin: 30px 5%;
}

#faq h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 30px;
  font-weight: 400;
}

.question {
  width: 100%;
  background-color: #eee;
  margin: 10px 0;
}

.q-div {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  padding: 10px 5px;
  border-bottom: 1px solid #2D7C9D;
}

.q-div p {
  font-size: 20px;
  font-family: 'Montserrat', sans-serif;
}

.q-div i {
  color: var(--blue-green);
  margin: 5px;
  transition: all 0.2s linear;
}

.q-div i:hover {
  opacity: 0.5;
  cursor: pointer;
}

.answer-div {
  width: 100%;
  padding: 5px;
}

.answer-div p {
  font-size: 16px;
  font-family: 'Poppins', sans-serif;
  padding: 10px;
  opacity: 0.9;
}

/* ===========================================

    CALL TO ACTION 2

   ===========================================*/

#call-to-action-2 {
  background-color: var(--blue);
  color: white;
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  font-weight: 500;
  border: none;
  border-radius: 5px;
  margin: 60px 0 60px 50vw;
  transform: translateX(-50%);
  padding: 10px;
  cursor: pointer;
  transition: opacity 0.2s linear;
}

#call-to-action-2:hover {
  opacity: 0.8;
}

/* ===========================================

    FOOTER

   ===========================================*/

#footer {
  background-color: black;
  width: 100%;
  position: relative;
}

#footer-mf-logo {
  max-width: 50px;
  position: absolute;
  top: 15px;
  left: 15px;
}

#ft-links {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-self: center;
  padding-top: 50px;
}

#ft-links a {
  color: #ccc;
  text-decoration: none;
  font-size: 20px;
  font-family: 'Nunito', sans-serif;
  margin: 15px 30px;
  transition: all 0.2s ease-in-out;
}

#ft-links a:hover {
  opacity: 0.6;
  text-decoration: underline;
}

#line {
  background-color: var(--blue);
  width: 100%;
  height: 5px;
}

#copyright {
  color: #ccc;
  font-size: 20px;
  font-family: 'Nunito', sans-serif;
  text-align: center;
  padding: 20px;
}