@import url('https://fonts.googleapis.com/css2?family=Della+Respira&family=Montserrat:ital@1&family=Nunito&family=Poppins&family=Ubuntu&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;500;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --blue: #36498F;
  --blue-green: #2D7C9D;
}

/* ===========================================

    HERO SECTION

   ===========================================*/

#header {
  width: 100%;
  height: 100vh;
  background-image: url("../img/360-640.png");
  background-color: var(--blue);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: flex-start;
}

#mf-logo {
  max-width: 50px;
  position: absolute;
  top: 15px;
  left: 15px;
}

#log-in-btn {
  color: white;
  font-family: 'Nunito', sans-serif;
  font-size: 16px;
  text-decoration: underline overline;
  position: absolute;
  right: 15px;
  top: 15px;
  cursor: pointer;
  transition: color 0.2s linear;
}

#log-in-btn:hover {
  color: var(--blue);
}

#title-div {
  width: 80%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: flex-start;
  margin: 15vh 0 0 20px;
}

#title-div h1 {
  color: white;
  font-family: 'Montserrat', sans-serif;
  font-size: 65px;
  font-weight: 900;
  margin-bottom: 15px;
}

#title-div p {
  color: white;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 15px;
}

#mark {
  background-color: var(--blue-green);
  color: white;
}

#call-to-action {
  background-color: var(--blue);
  color: white;
  align-self: center;
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  font-weight: 500;
  border: none;
  border-radius: 5px;
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  padding: 10px;
  cursor: pointer;
  transition: opacity 0.2s linear;
}

#call-to-action:hover {
  opacity: 0.8;
}