@import url('https://fonts.googleapis.com/css2?family=Della+Respira&family=Montserrat:ital@1&family=Nunito&family=Poppins&family=Ubuntu&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;500;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --blue: #36498F;
  --blue-green: #2D7C9D;
}

/* ===========================================

    HERO SECTION

   ===========================================*/

#header {
  width: 100%;
  height: 100vh;
  background-image: url("../img/img-hero-mobile.jpg");
  background-color: var(--blue);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#mf-logo {
  max-width: 40px;
  position: absolute;
  top: 15px;
  left: 15px;
}

#log-in-btn {
  font-family: 'Nunito', sans-serif;
  font-size: 12px;
  position: absolute;
  right: 15px;
  top: 15px;
}

#title-div {
  width: 250px;
  position: absolute;
  top: 100px;
  left: 10px;
}

#title-div h1 {
  color: white;
  font-family: 'Montserrat', sans-serif;
  font-size: 40px;
  font-weight: 900;
  margin-bottom: 15px;
}

#title-div p {
  color: white;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 12px;
  margin-bottom: 15px;
}

#mark {
  background-color: var(--blue-green);
  color: white;
}

#call-to-action {
  background-color: var(--blue);
  color: white;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  border: none;
  border-radius: 5px;
  padding: 10px;
}
